{% extends 'template.html'%}
{% load staticfiles %}
{% block title %}Datos de Procedencia{% endblock %}
{% block content %}
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        <div class="col-md-12">
            <h1 class="page-header">Datos de procedencia</h1>
        </div>
        <div  class="col-md-12">
            {% for message in messages %}
                {% if 'success' in message.tags %}
                    <div class="alert alert-success">
                        <a class="close" href="#" data-dismiss="alert">×</a>
                        {{ message }}
                    </div>
                {% endif %}
            {% endfor %}
            {% for message in messages %}
                {% if 'error' in message.tags %}
                    <div class="alert alert-danger">
                        <a class="close" href="#" data-dismiss="alert">×</a>
                        <strong>Error!</strong>
                        {{ message }}
                    </div>
                {% endif %}
            {% endfor %}
            {% for message in messages %}
                {% if 'warning' in message.tags %}
                    <div class="alert alert-danger">
                        <a class="close" href="#" data-dismiss="alert">×</a>
                        {{ message }}
                    </div>
                {% endif %}
            {% endfor %}
        </div>
        <form method="post" name="formulario">
            {% csrf_token %}
            <div class="tab-content">
                <div class="tab-pane fade in active">
                    <div class="col-md-12 form lab">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Hecho victimizante: </label><br>
                                        {% for h in hechos %}
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox" name="hecho[]" id="{{ h.id }}" value="{{ h.id }}" {% for x in hc %} {% if x.hecho.id == h.id %} checked {% endif %} {% endfor %}/>{{ h.hecho }}
                                                </label>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Departamento de procedencia: </label>
                                        <select class="form-control" id="depart" name="departamentop" required>
                                            <option value=""> -------------- </option>
                                            {% for departamento in departamentos %}
                                            <option value="{{ departamento.id }}"{% if ciudadp.departamento_id == departamento.id %} selected {% endif %} > {{ departamento.departamento }} </option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Ciudad de procedencia: </label>
                                        <select class="form-control" name="ciudadp" id="ciud" required>
                                            <option value=""> -------------- </option>
                                            {% for ciudad in ciudades %}
                                            <option value="{{ ciudad.id }}" {% if ciudadp.id == ciudad.id %} selected {% endif %}> {{ ciudad.ciudad }} </option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>¿Tiene algún predio abandonado?: </label>
                                        <select class="form-control" name="predio" id="predio" onchange="funcion(this.value);" required>
                                            <option value=""> -- </option>
                                            <option value="True" {% if predio == True %} selected {% endif %}>Si</option>
                                            <option value="False" {% if predio == False %} selected {% endif %}>No</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-4" style="display: none;" id="ocultod">
                                    <div class="form-group">
                                        <label>Departamento del predio abandonado:</label>
                                        <select class="form-control" id="departpa" name="departpa">
                                            <option value=""> -------------- </option>
                                            {% for departamento in departamentos %}
                                            <option value="{{ departamento.id }}" {% if ciudpa.departamento_id == departamento.id %} selected {% endif %}> {{ departamento.departamento }} </option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-4" style="display: none;" id="ocultoc">
                                    <div class="form-group">
                                        <label>Ciudad del predio abandonado: </label>
                                        <select class="form-control" name="ciudpa" id="ciudpa">
                                            <option value="0"> -------------- </option>
                                            {% for ciudad in ciudades %}
                                            <option value="{{ ciudad.id }}" {% if ciudpa.id == ciudad.id %} selected {% endif %}> {{ ciudad.ciudad }} </option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4" style="display: none;" id="ocultor">
                                    <div class="form-group">
                                        <label>¿Ya inicio el proceso de restitución?</label>
                                        <select class="form-control" name="inicior" id="inicior">
                                            <option value="0"> ----- </option>
                                            <option value="True" {% if inicior == True %} selected {% endif %}> Si </option>
                                            <option value="False" {% if inicior == False %} selected {% endif %}> No </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>¿Despues de hecho, ha sido revictimizado?</label>
                                        <select class="form-control" name="revictima" required >
                                            <option value=""> -- </option>
                                            <option value="True" {% if revictima == True %} selected {% endif %}> Si </option>
                                            <option value="False" {% if revictima == False %} selected {% endif %}> No </option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Departamento de la declaración:</label>
                                        <select class="form-control" id="departd" name="departamentod" required>
                                            <option value=""> -------------- </option>
                                            {% for departamento in departamentos %}
                                            <option value="{{ departamento.id }}" {% if ciudadd.departamento_id == departamento.id %} selected {% endif %}> {{ departamento.departamento }} </option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Ciudad de la declaración: </label>
                                        <select class="form-control" name="ciudadd" id="ciudadd" required>
                                            <option value=""> -------------- </option>
                                            {% for ciudad in ciudades %}
                                            <option value="{{ ciudad.id }}" {% if ciudadd.id == ciudad.id %} selected {% endif %}> {{ ciudad.ciudad }} </option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-5 sinpadding">
                                    <div class="form-group">
                                        <label>Fecha de declaración</label>
                                        <div class="row sinpadding">
                                            <div class="col-md-3">
                                                <select name="dianace" id="dobday" class="form-control" required></select>
                                            </div>
                                            <div class="col-md-5">
                                                <select name="mesnace" id="dobmonth" class="form-control" required></select>
                                            </div>
                                            <div class="col-md-3">
                                                <select name="anonace" id="dobyear" class="form-control" required></select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div style="text-align: right;">
                    <button type="submit" class="btn btn-success">Crear</button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}
{% block javascript %}
    <script type="text/javascript" src="{% static 'js/datosbasicos.js' %}"></script>
    <script>
        $('#depart').on('change',inicio);
        function inicio() {
            var id = $(this).val();
            $.ajax({
                data : {'id':id},
                url: '{% url "beneficiario:ciudadesAjax" %}',
                type: 'get',
                success: function(data){
                    var select = $('#ciud').html("<option value=''>-- Seleccione una ciudad -- </option>");
                    for (var i = 0; i < data.length ; i++){
                        select.append('<option value="'
                            + data[i].pk
                            + '">'
                            + data[i].fields.ciudad
                            + '</option>' );
                    }
                }
            });
        }
    </script>
    <script>
        $('#departpa').on('change',inicio);
        function inicio() {
            var id = $(this).val();
            $.ajax({
                data : {'id':id},
                url: '{% url "beneficiario:ciudadesAjax" %}',
                type: 'get',
                success: function(data){
                    var select = $('#ciudpa').html("<option value='' selected>-- Seleccione una ciudad -- </option>");
                    for (var i = 0; i < data.length ; i++){
                        select.append('<option value="'
                            + data[i].pk
                            + '">'
                            + data[i].fields.ciudad
                            + '</option>' );
                    }
                }
            });
        }window.onload = inicio;
    </script>
    <script>
        $('#departd').on('change',inicio);
        function inicio() {
            var id = $(this).val();
            $.ajax({
                data : {'id':id},
                url: '{% url "beneficiario:ciudadesAjax" %}',
                type: 'get',
                success: function(data){
                    var select = $('#ciudadd').html("<option value='' selected>-- Seleccione una ciudad -- </option>");
                    for (var i = 0; i < data.length ; i++){
                        select.append('<option value="'
                            + data[i].pk
                            + '">'
                            + data[i].fields.ciudad
                            + '</option>' );
                    }
                }
            });
        }
    </script>
    <script src="{% static 'js/dobPicker.js' %}"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            $.dobPicker({
                daySelector: '#dobday', /*   */
                monthSelector: '#dobmonth', /*   */
                yearSelector: '#dobyear', /*   */
                dayDefault: '{% if dianace %} {{ dianace }} {% else %} Día {% endif %}', /* Optional */
                monthDefault: '{% if mesnace %} {{ mesnace }} {% else %} Mes {% endif %}', /* Optional */
                yearDefault: '{% if anonace %} {{ anonace }} {% else %} Año {% endif %}', /* Optional */
                minimumAge: 0, /* Optional */
                maximumAge: 100 /* Optional */
            });
        });
    </script>
    <script>
        function funcion(value)
        {
            if (document.formulario.predio.options[1].selected == true ){
                $("#ocultor").removeAttr("style");
                $("#ocultod").removeAttr("style");
                $("#ocultoc").removeAttr("style");
                document.formulario.departpa.required = true;
                document.formulario.ciudpa.required = true;
                document.formulario.inicior.required = true;
                document.formulario.inicior.value = '';
            }else {
                $("#ocultor").css("display",'none');
                $("#ocultod").css("display",'none');
                $("#ocultoc").css("display",'none');

            }
        }
        window.onload = funcion;
    </script>
{% endblock %}
