<!DOCTYPE html>
{% load staticfiles %}
<html lang="es">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="icon" href="{% static 'images/favicon.ico' %}"></link>
        <title>{% block title %}Beneficiarios {% endblock %}</title>
        <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet"></link>
        <link href="{% static 'css/estilo.css' %}" rel="stylesheet"></link>
        <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}"></link>
        <link rel="stylesheet" href="{% static 'css/sweetalert.css' %}"></link>
        <script src="{% static 'js/ie-emulation-modes-warning.js' %}"></script>
        <script src="{% static 'js/jquery.min.js' %}"></script>
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
    </head>
    <body>
        {% block header %}
            <nav class="navbar navbar-inverse navbar-fixed-top">
                <div class="container">
                    <div class="navbar-header">
                        <div class="icon-logo">
                            <img class="img" src="{% static 'images/escudo.png' %}"/>
                        </div>
                        <a class="navbar-brand" href="{% url 'index' %}">PVCA</a>
                    </div>
                    <ul class="nav navbar-nav navbar-right">
                        <li><img class="img" src="{% static 'images/myAvatar.png' %}"/></li>
                        <li><a href="#">Bienvenid@ Jhon Palma</a></li>
                        <li><a href="#"><span class="fa fa-sign-out fa-lg top"></span> Salir</a></li>
                    </ul>
                </div>
            </nav>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-3 col-md-2 sidebar">
                        <ul class="nav nav-sidebar palma">
                            <li><a href="/beneficiario/beneficiario_consulta"><i class="fa fa-user"></i> Consultar Beneficiarios</a></li>
                            <li><a href="{% url 'beneficiario:datosBasicos' %}"><i class="fa fa-user-plus"></i> Crear Beneficiario</a></li>
                            <li><a href="/beneficiario/generaCarnet"><i class="fa fa-users"></i> Carnetización Sisben</a></li>
                            <li><a href="#"><i class="fa fa-upload" aria-hidden="true"></i> Subir Documentos</a></li>
                            <li><a href="/informes/informes"><i class="fa fa-bar-chart"></i> Informes</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        {% endblock %}


        {% block content %}
        {% endblock %}

        {% block footer %}

        {% endblock %}

        <script src="{% static 'js/ie10-viewport-bug-workaround.js' %}"></script>
        {% block javascript %}

        {% endblock %}
    </body>

</html>
